@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&family=Zen+Maru+Gothic:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide {
    /* IE and Edge */
    -ms-overflow-style: 'none';
    /* Firefox */
    scrollbar-width: 'none';
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
