name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - develop

env:
  NODE_VERSION: '18.x'
jobs:
  build_and_deploy_job:
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    environment: static-web-apps
    env:
      VITE_FB_APIKEY: ${{ secrets.VITE_FB_APIKEY }}
      VITE_FB_AUTHDOMAIN: ${{ secrets.VITE_FB_AUTHDOMAIN }}
      VITE_FB_PROJECT_ID: ${{ secrets.VITE_FB_PROJECT_ID }}
      VITE_FB_STORAGE_BUCKET: ${{ secrets.VITE_FB_STORAGE_BUCKET }}
      VITE_FB_MESSAGEING_SENDER_ID: ${{ secrets.VITE_FB_MESSAGEING_SENDER_ID }}
      VITE_FB_APP_ID: ${{ secrets.VITE_FB_APP_ID }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'yarn'
          cache-dependency-path: './yarn.lock'

      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_BLUE_GROUND_0332B1A00 }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: 'upload'
          app_location: './'
          output_location: 'dist'
          skip_api_build: false
